body {
    font-family: sans-serif;
}

nav {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 120px;
}

nav .nav-title {
    color: black;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    grid-column: 2;
    align-self: center;
}

nav .links {
    grid-column: 9 / span 3;
    align-self: center;
}
