<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pomodoro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    {# navigation bar #}
    <nav>
        <h1>Pomodoro</h1>
        <div class="links">
            <a href="#">Settings</a>
            <a href="#">Log In</a>
            <a href="#">Sign Up</a>
        </div>
    </nav>
    {# flashed messages #}
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith%}

    {# content block  #}
    {% block content %}{% endblock %}
</body>
</html>
