{% extends 'base.html' %}

{% block content %}
    <h1>Timer</h1>
    <h2 class="countdown-timer">Countdown Timer</h2>
    <button class="work-timer" onclick="setTimer(25)">Work</button>
    <button class="break-timer" onclick="setTimer(5)">Break</button>

    <script type="text/javascript">
        function setTimer(time) {
            // get the current date and time
            let currentTime = new Date(); 
            let futureTime = new Date();

            futureTime.setMinutes(currentTime.getMinutes() + time);

            console.log(currentTime);
            console.log(futureTime);
        }
    </script>

{% endblock%}
