{% extends 'base.html' %}

{% block content %}
    <div class="timer-container">
        <div class="tabs">
            <a class="tab-underline" href="{{ url_for("main.timer", type_of_timer="work") }}">Work</a>
            <a class="tab-text-left" href="{{ url_for("main.timer", type_of_timer="break") }}">Break</a>
        </div>
        <h2 id="countdown-timer"></h2>
        <div class="control-buttons">
            <button id="start-button">Start</button>
            <button id="pause-button">Pause</button>
            <button id="stop-button">Stop</button>
            <button id="reset-button">Reset</button>
        </div>
    </div>

    <script src="{{ url_for('static', filename='easytimer.min.js') }}"></script>
    <script type="text/javascript">
        let timer = new easytimer.Timer();
        let timerText = document.querySelector("#countdown-timer");

        // initial timer display
        timerText.innerHTML = "00:{{user.time}}:00";

        // handle starting, stopping, resetting
        let startButton = document.querySelector("#start-button");
        let pauseButton = document.querySelector("#pause-button");
        let stopButton = document.querySelector("#stop-button");
        let resetButton = document.querySelector("#reset-button");

        startButton.addEventListener("click", () => {
            timer.start({countdown: true, startValues: {minutes: {{ user.time }} }});
        });

        pauseButton.addEventListener("click", () => {
            timer.pause();
        });

        stopButton.addEventListener("click", () => {
            timer.stop();
        });

        resetButton.addEventListener("click", () => {
            timer.reset();
        });

        // update the timer display
        timer.addEventListener('secondsUpdated', function (e) {
            timerText.innerHTML = timer.getTimeValues().toString();
            console.log("work")
        });

        timer.addEventListener('targetAchieved', function (e) {
            timerText.innerText = "You're Done! Take a break doing '{{ user.type_of_break }}'"
            timerText.style.fontSize = "20px";
        });
    </script>
{% endblock%}
